name: Deploy Static Site

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/deploy-pages@v1
        with:
          token: $\{{ secrets.GITHUB_TOKEN }}
